<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/main :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>PetClinic :: a Spring Framework demonstration</title>

    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/3.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../../resources/css/petclinic.css"
          th:href="@{/resources/css/petclinic.css}" rel="stylesheet"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"
            th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
            th:src="@{/webjars/jquery-ui/1.9.2/js/jquery-ui-1.9.2.custom.js}"></script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/smoothness/jquery-ui.css"
          th:href="@{/webjars/jquery-ui/1.9.2/css/smoothness/jquery-ui-1.9.2.custom.css}" rel="stylesheet"/>
</head>

<body>
<div class="container">

    <div th:replace="fragments/main :: nav">

    </div>

    <h2><span th:if="${visit['new']}" th:remove="tag">New </span>Visit</h2>

    <b>Pet</b>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Birth Date</th>
            <th>Type</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tr>
            <td th:text="${visit.pet.name}">[name]</td>
            <td th:text="${{visit.pet.birthDate}}">[birthdate]</td>
            <td th:text="${visit.pet.type.name}">[type]</td>
            <td th:text="|${visit.pet.owner.firstName} ${visit.pet.owner.lastName}|">[firstName lastName]</td>
        </tr>
    </table>

    <form th:object="${visit}" action="../owners/ownerDetails.html" th:action="@{${#httpServletRequest.servletPath}}"
          method="post">
        <div class="control-group">
            <label class="control-label">Date </label>

            <div class="controls">
                <input type="text" th:field="*{date}" id="date"/>
                <span class="help-inline" th:errors="*{date}">[date error]</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Description </label>

            <div class="controls">
                <input type="text" th:field="*{description}"/>
                <span class="help-inline" th:errors="*{description}">[description error]</span>
            </div>
        </div>
        <div class="form-actions">
            <input type="hidden" name="petId" th:value="${visit.pet.id}"/>
            <button type="submit" class="btn btn-primary">Add Visit</button>
        </div>
    </form>

    <br/>
    <b>Previous Visits</b>
    <table style="width: 333px;">
        <tr>
            <th>Date</th>
            <th>Description</th>
        </tr>
        <tr th:if="${!visit['new']}" th:each="visit : ${visit.pet.visits}">
            <td th:text="${#dates.format(visit.date.toDate(),'yyyy/MM/dd')}">[date]</td>
            <td th:text="${visit.description}">[description]</td>
        </tr>
    </table>

</div>

<script>
    $(function () {
        $("#birthDate").datepicker({dateFormat: 'yy/mm/dd'});
    });
</script>

</body>

</html>
