<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http create-session="always"  use-expressions="true" access-denied-page="/302">

        <intercept-url pattern="/302"  access="permitAll" />
        <intercept-url pattern="/login"  access="permitAll" />
        <intercept-url pattern="/signin" access="permitAll" />
        <intercept-url pattern="/signup" access="permitAll" />
        <intercept-url pattern="/session**" access="permitAll" />
        <intercept-url pattern="/resources/**" access="permitAll" />
        <intercept-url pattern="/webjars/**" access="permitAll" />


        <intercept-url pattern="/**" access="isAuthenticated()" />
        <intercept-url pattern="/index**" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/owners**" access="hasRole('ROLE_USER')" />
        <http-basic />

        <form-login
                login-page="/login"
                default-target-url="/index.html"
                authentication-failure-url="/login.html?error=true"
                username-parameter="j_username"
                password-parameter="j_password" />

        <logout logout-success-url="/login.html?logout=true" logout-url="/logout" delete-cookies="JSESSIONID"/>

        <session-management invalid-session-url="/sessionExpired.html">
            <concurrency-control max-sessions="2" expired-url="/sessionExpired.html" />
        </session-management>

        <!-- enable csrf protection -->
        <csrf/>
        <remember-me key="uniqueAndSecret" token-validity-seconds="86400" />

    </http>

    <beans:bean id="myAuthenticationSuccessHandler"
                class="com.javachen.examples.springmvc.petclinic.web.security.MySimpleUrlAuthenticationSuccessHandler" />

    <beans:bean name="customLogoutSuccessHandler"
                class="com.javachen.examples.springmvc.petclinic.web.security.CustomLogoutSuccessHandler" />

    <authentication-manager erase-credentials="true">
        <!--
        <authentication-provider>
            <user-service>
                <user name="admin" password="admin" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
        -->
        <authentication-provider
                user-service-ref="userDetailsService">
            <password-encoder ref="passwordEncoder">
                <salt-source user-property="username" />
            </password-encoder>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="passwordEncoder"
          class="org.springframework.security.authentication.encoding.Md5PasswordEncoder">
    </beans:bean>

    <beans:bean id="userDetailsService" class="com.javachen.examples.springmvc.petclinic.web.security.PetclinicUserDetailsService" />

</beans:beans>